asmopt.mak
bin/*
build/*
build_util/*
config.log
src/driver/asmopt.h
src/driver/asmopt_internal.h
src/util_implementations.h
example
example-util
!example/
vs201*/ipch/*
vs201*/*.sdf
vs201*/*.suo
vs201*/*.user
